<body>
  <div class="center" style="padding-top: 10%;">
    <h1 class="title">Experience</h1>
  </div>
  <div class="center">
    <h3 style="color: grey">Business Achievement</h3>
  </div>
  <section class="center">
    <div class="dotted-line"></div>
    <div>
      <div class="job" style="left: 7%; top: 2660px;">
        <h2>11 / 2017  -  6 / 2020</h2>
        <h1>Freelance Graphic Design</h1>
        <h3>Provo, UT</h3>
        <p>Built logos and brands for over 20 different
          companies all over the United States while
          maintaining an average rating of 4.95 / 5 stars.
      </p>
      </div>
      <div class="connector" style="left: 40%; top: 2765px;"></div>
      <div class="exp-outline outline-1"></div>
      <div class="experience exp-1"></div>
    </div>
    <div>
      <div class="job" style="left: 60%; top: 2860px;">
        <h2>6 / 2020  -  1 / 2021</h2>
        <h1>Multimedia Design Lab</h1>
        <h3>Provo, UT</h3>
        <p>Walked students and faculty members through
          unique and often complex software troubleshooting processes
      </p>
      </div>
      <div class="connector" style="left: 50%; top: 2965px;"></div>
      <div class="exp-outline outline-2"></div>
      <div class="experience exp-2"></div>
    </div>
    <div>
      <div class="job" style="left: 7%; top: 3060px;">
        <h2>3 / 2021  -  8 / 2021</h2>
        <h1>Door to Door Sales</h1>
        <h3>Atlanta, GA</h3>
        <p>Conducted one-on-one brand presentations
          to demonstrate value and build trust with clients,
          generating over $80,000 in revenue
        </p>
      </div>
      <div class="connector" style="left: 40%; top: 3165px;"></div>
      <div class="exp-outline outline-3"></div>
      <div class="experience exp-3"></div>
    </div>
    <div>
      <div class="job" style="left: 60%; top: 3260px;">
        <h2>10 / 2021  -  2 / 2022</h2>
        <h1>Freelance Python Development</h1>
        <h3>Provo, UT</h3>
      <p>Maintained a 5 / 5 star rating while building clean
        python scripts to scrape data from
        and interact with various websites</p>
      </div>
      <div class="connector" style="left:50%; top: 3365px;"></div>
      <div class="exp-outline outline-4"></div>
      <div class="experience exp-4"></div>
    </div>
  </section>
  <br><br><br><br><br><br>
  <div class="center">
    <div class="button-see-more" role="button" routerLink="/experience">See more</div>
  </div>

</body>
