<body>
  <h1>Web Dev</h1>
  <section class="topic-grid scrolls">
    <div class="topic three col-span-2 row-span-2" role="button">3</div>
    <div class="topic six" role="button">2</div>
    <div class="topic nine" role="button">5</div>
    <div class="topic one" role="button">4</div>
    <div class="topic seven" role="button">1</div>
    <div class="topic eight" role="button">6</div>
    <div class="topic two" role="button">8</div>
    <div class="topic five" role="button">9</div>
    <div class="topic four" role="button">7</div>
  </section>
</body>
<app-footer></app-footer>
