<body>
  <div class="center" style="padding-top: 10%;">
    <h1 class="title">Skills</h1>
  </div>
  <div class="center">
    <h3 style="color: grey">Personal Achievement</h3>
  </div>

  <main class="skills-grid">
    <div class="skills web-dev"></div>
    <div class="skills machine-learning"></div>
    <div class="skills brand-design"></div>
    <div class="skills web-scrape"></div>
    <div class="skills ui"></div>
    <div class="skills automated-tasks"></div>
  </main>

  <br><br>
  <div class="center">
    <div class="button-see-more" role="button">See more</div>
  </div>

</body>

