<body>
  <div class="center" style="padding-top: 10%;">
    <h1 class="title">Skills</h1>
  </div>
  <div class="center">
    <h3 style="color: grey">Hard Skills</h3>
  </div>

  <section class="app-grid">
    <div class="skill_card" role="button" routerLink="/skills/web-dev">Web Development</div>
    <div class="skill_card" role="button" routerLink="/skills/machine-learning">Machine Learning</div>
    <div class="skill_card" role="button" routerLink="/skills/brand-design">Brand Design</div>
    <div class="skill_card" role="button" routerLink="/skills/web-scraping">Web Scraping</div>
    <div class="skill_card" role="button" routerLink="/skills/ui">User Interface</div>
    <div class="skill_card" role="button" routerLink="/skills/automation">Automation</div>
  </section>
  <app-footer></app-footer>
</body>

