<body>
  <div class="center" style="padding-top: 10%;">
    <h1 class="title">Skills</h1>
  </div>
  <div class="center">
    <h3 style="color: grey">Hard skills</h3>
  </div>

  <main class="skills-grid">
    <div class="skills web-dev" role="button" routerLink="/allweb"></div>
    <div class="skills machine-learning" role="button" routerLink="/machine_learning"></div>
    <div class="skills brand-design" role="button" routerLink="/brand_design"></div>
    <div class="skills web-scrape" role="button" routerLink="/web_scraping"></div>
    <div class="skills ui" role="button" routerLink="/ui"></div>
    <div class="skills automated-tasks" role="button" routerLink="/automation"></div>
  </main>

  <!-- <img src="../../../assets/60CF4707-3252-49D9-9138-4CEB6D8504B2.jpg" alt=""
  class="low-opacity-img"> -->

</body>




