body {
  background-color: rgb(26, 26, 26);
  height: 1200px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  font-size: 36px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
}

.education-grid {
  display: grid;
  height: 85vh;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 3%;
  margin-top: 6%;
  grid-template-columns: repeat(3, 1fr);
}

.edu {
  background: rgb(255, 255, 255);
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px rgb(184, 184, 184);

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.byu {
  background-image:url('../../../assets/Website-Graphic-3.jpg');
}

.photo1 {
  background-image:url('../../../assets/Mission.JPG');
  background-size: 140%;
}
.gpa {
  background-image:url('../../../assets/Website-Graphic-1.jpg');
}
.photo2 {
  background-image:url('../../../assets/Service.jpg');
  background-size: 130%;
}
.major {
  background-image:url('../../../assets/Website-Graphic-2.jpg');
}

.last {
  background-image:url('../../../assets/Website-Graphic-4.jpg');
}

.button-see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background-color: black;
  color: rgb(194, 194, 194);
  border:rgb(255, 255, 255);
  border-style: solid;
  border-width: 2px;

  width: 200px;
  height: 50px;

  transition: background-color .5s, color .5s;
}

.button-see-more:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

@media(max-width: 1100px) {
  .education-grid {
    height: 65vh;
    grid-template-columns: repeat(3, 1fr);
  }
  body {
    background-color: rgb(26, 26, 26);
    height: 1000px;
  }
}

@media(max-width: 900px) {
  .education-grid {
    height: 50vh;
    grid-template-columns: repeat(3, 1fr);
  }
  body {
    background-color: rgb(26, 26, 26);
    height: 800px;
  }
}

@media(max-width: 700px) {
  .education-grid {
    height: 40vh;
    grid-template-columns: repeat(3, 1fr);
  }
  body {
    background-color: rgb(26, 26, 26);
    height: 600px;
  }
}

@media(max-width: 500px) {
  .education-grid {
    height: 25vh;
    grid-template-columns: repeat(3, 1fr);
  }
}
