<body>
  <div class="center" style="padding-top: 10%;">
    <h1 class="title">Volunteer Experience</h1>
  </div>
  <div class="center">
    <h3 style="color: grey">Service and Charity</h3>
  </div>

  <main class="education-grid">
    <div class="edu photo1"></div>
    <div class="edu gpa"></div>
    <div class="edu photo2"></div>
    <div class="edu byu"></div>
    <div class="edu major"></div>
    <div class="edu last"></div>
  </main>

  <br><br>
  <div class="center">
    <div class="button-see-more" role="button" routerLink="/volunteer">See more</div>
  </div>
</body>

