body {
  height: 1200px;
}

.content {
  margin: 12%;
}

code {
  background-color: transparent;
  color: rgb(89, 89, 89);
  font-size: 16px;
}

figure {
  background-color: rgb(202, 202, 202);
  height: 500px;
}

.data-grid {
  display: grid;
  gap: 2rem;
  height: 60vh;
  width: 100%;

  grid-template-columns: repeat(2, 1fr);
}

.data {
  background-color: white;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(202, 202, 202);

  padding: 10%;
}

mat-form-field {
  width: 200px !important;
}

@media(max-width: 600px) {
  mat-form-field {
    width: 150px !important;
  }
}
@media(max-width: 450px) {
  mat-form-field {
    width: 100px !important;
  }
}
