<main class="header-grid">
  <div class="head logo grid-row-span-2 centered" routerLink="/home"></div>
  <div class="head angular centered">Built by Adam Norton in  <a href="angular.io"> Angular</a></div>
  <div class="head login centered" role="button">LOGIN</div>
  <section class="dropdowns-grid grid-col-span-2">
    <div class="drop" role="button" routerLink="/education">EDUCATION</div>
    <div class="drop" role="button" routerLink="/experience">EXPERIENCE</div>
    <div class="drop" role="button" routerLink="/skills">SKILLS</div>
    <div class="drop" role="button" routerLink="/volunteer">VOLUNTEER</div>
  </section>
</main>

