<footer>
  <section class="link-grid">
    <div>
      <a routerLink="/skills">Skills</a>
      <br>
      <a routerLink="/allweb">Web Development</a>
      <br>
      <a routerLink="/pins">Place Pins</a>
      <br>
      <a routerLink="/directives">Directives</a>
      <br>
      <a routerLink="/operators">Operators</a>
      <br>
      <a routerLink="/http">Http</a>
      <br>
      <a routerLink="/routeparams">Route Parameters</a>
      <br>
      <a routerLink="/input">@Input and @Output</a>
      <br>
      <a routerLink="/subscribe">Subscribe</a>
    </div>
    <div>
      <a routerLink="/skills">Skills</a>
      <br>
      <a routerLink="/allweb">Web Development</a>
      <br>
      <a routerLink="/pins">Place Pins</a>
      <br>
      <a routerLink="/directives">Directives</a>
      <br>
      <a routerLink="/operators">Operators</a>
      <br>
      <a routerLink="/http">Http</a>
      <br>
      <a routerLink="/routeparams">Route Parameters</a>
      <br>
      <a routerLink="/input">@Input and @Output</a>
      <br>
      <a routerLink="/subscribe">Subscribe</a>
    </div>
    <div>
      <a routerLink="/skills">Skills</a>
      <br>
      <a routerLink="/allweb">Web Development</a>
      <br>
      <a routerLink="/pins">Place Pins</a>
      <br>
      <a routerLink="/directives">Directives</a>
      <br>
      <a routerLink="/operators">Operators</a>
      <br>
      <a routerLink="/http">Http</a>
      <br>
      <a routerLink="/routeparams">Route Parameters</a>
      <br>
      <a routerLink="/input">@Input and @Output</a>
      <br>
      <a routerLink="/subscribe">Subscribe</a>
    </div>
    <div>
      <a routerLink="/skills">Skills</a>
      <br>
      <a routerLink="/allweb">Web Development</a>
      <br>
      <a routerLink="/pins">Place Pins</a>
      <br>
      <a routerLink="/directives">Directives</a>
      <br>
      <a routerLink="/operators">Operators</a>
      <br>
      <a routerLink="/http">Http</a>
      <br>
      <a routerLink="/routeparams">Route Parameters</a>
      <br>
      <a routerLink="/input">@Input and @Output</a>
      <br>
      <a routerLink="/subscribe">Subscribe</a>
    </div>
  </section>
</footer>
<div class="small-footer">
  Built by Adam Norton - 2022
</div>
