.low-opacity-img {
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 164px;
  width: 100%;
  height: auto;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pfp {
  border-style: solid;
  border-color: rgb(255, 205, 80);
  border-width: 1px;
  border-radius: 50%;

  position: absolute;
  left: 45%;
  top: 26.5%;
  z-index: 99999;
  max-width: 50%;
  width: 10%;
  height: auto;
}

.quote {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(160,160,160,1) 100%);
  z-index: 1;
  height: 70%;
  width: 85%;
  /* position: absolute;
  top: 40%;
  left: 7.5%; */
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
