body {
  background-color: rgb(26, 26, 26);
  height: 1000px;
}

.low-opacity-img {
  opacity: 0.2;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 164px;
  width: 100%;
  height: auto;
}

.spacer {
  background-color: rgb(26, 26, 26);
  height: 200px;
  width: 100%;
}

.pfp {
  border-style: solid;
  border-color: rgb(255, 205, 80);
  border-width: 1px;
  border-radius: 50%;

  position: absolute;
  left: 45%;
  top: 35.3%;
  z-index: 99999;
  max-width: 50%;
  width: 10%;
  height: auto;
}

.skills-grid {
  display: grid;
  height: 85vh;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 3%;
  /* margin-top: 6%; */
  grid-template-columns: repeat(3, 1fr);
}

.skills {
  background: rgb(255, 255, 255);
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px rgb(184, 184, 184);

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  transition: transform 0.5s, box-shadow 0.5s;
  cursor: pointer;
}

.skills:hover {
  transform: scale(1.06);
  box-shadow: 5px 5px 15px rgb(64, 64, 64);
}

.web-dev {
  background-image:url('../../../assets/Website-Graphics-Web-Dev.jpg');
}

.web-scrape {
  background-image:url('../../../assets/Website-Graphics-Web-Scraping.jpg');
}
.machine-learning {
  background-image:url('../../../assets/Website-Graphics-ML.jpg');
}
.ui {
  background-image:url('../../../assets/Website-Graphics-UI.jpg');
}
.brand-design {
  background-image:url('../../../assets/Website-Graphics-Brand-Design.jpg');
}

.automated-tasks {
  background-image:url('../../../assets/Website-Graphics-Automated-Tasks.jpg');
}
