<body>
  <img src="../../../assets/LinkedIn Profile Pic4 copy.jpg" alt="" class="pfp">

  <div class="spacer"></div>

  <main class="skills-grid">
    <div class="skills web-dev"></div>
    <div class="skills machine-learning"></div>
    <div class="skills brand-design"></div>
    <div class="skills web-scrape"></div>
    <div class="skills ui"></div>
    <div class="skills automated-tasks"></div>
  </main>

  <!-- <img src="../../../assets/60CF4707-3252-49D9-9138-4CEB6D8504B2.jpg" alt=""
  class="low-opacity-img"> -->

</body>


